body {
    font-family: Arial, sans-serif;
    background-color: #dfdddd;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #000000;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0 5px; 
}

.subtitle {
    font-size: 18px;
    color: #666;
    margin: 0;
}


.search-container {
    text-align: center;
    margin: 20px 0;
}

.search-container input {
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-container button {
    padding: 10px 15px;
    border: none;
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-container button:hover {
    background-color: #f0f0f0;
}


.map-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#map {
    width: 90%;
    max-width: 800px;
    height: 500px;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categories {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;
}

.categories button {
    width: 150px; 
    height: 150px;
    background: white;
    border: 2px solid #ddd; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}



.categories button img {
    width: 60px;
    height: 60px;
    object-fit: contain; 
    margin-bottom: 10px;
}

.categories button span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
